.comfort {

  &::before {
    display: block;
    content: "";
    width: 48px;
    height: 48px;
    margin-bottom: 19px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
  }

  &--fresh-air::before {
    background-image: url("../img/comfort-fresh-air.png");
  }

  &--waste-management::before {
    background-image: url("../img/comfort-waste-management.png");
  }

  &--improved-society::before {
    background-image: url("../img/comfort-improve-society.png");
  }
}

.comfort__heading {
  margin: 0;
  margin-bottom: 11px;
  font-size: 18px;
  line-height: 24px;
  color: $color-heading;
}

.comfort__text {
  margin: 0;
}
