.cta {
  padding-top: 75px;
  padding-bottom: 75px;
}

.cta__container {
  padding: 117px 40px;
  background-image: url("../img/cta-bg.svg");
  background-repeat: no-repeat;
  background-size: 100% 466px;
  background-position: center center;
}

.cta__question {
  margin: 0;
  margin-bottom: 54px;
  font-size: 48px;
  line-height: 64px;
  color: $color-heading;
  text-align: center;
}

.cta__buttons {
  display: flex;
  justify-content: center;
}

.cta__button {
  text-decoration: none;

  &:not(:last-child) {
    margin-right: 16px;
  }
}


@include breakpoint-down (768) {
  .cta {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .cta__container {
    padding: 80px 30px;
  }

  .cta__question {
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 40px;
  }
}

@include breakpoint-down (500) {
  .cta {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .cta__container {
    padding: 40px 10px;
  }

  .cta__question {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 30px;
  }

  .cta__buttons {
    flex-direction: column;
    align-items: center;
  }

  .cta__button {
    font-size: 14px;

    &:not(:last-child) {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
}