.delivery-type {

  &::before {
    flex-shrink: 0;
    content: "";
    width: 48px;
    height: 48px;
    margin-right: 16px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
  }

  &--concrete::before {
    background-image: url("../img/delivery-concrete.png");
  }

  &--recycling::before {
    background-image: url("../img/delivery-recycling.png");
  }

  &--formwork::before {
    background-image: url("../img/delivery-formwork.png");
  }

  &--panels::before {
    background-image: url("../img/delivery-panels.png");
  }

  &--fasades::before {
    background-image: url("../img/delivery-fasades.png");
  }

  &--finishing::before {
    background-image: url("../img/delivery-finishing.png");
  }

  &--scaffolding::before {
    background-image: url("../img/delivery-scaffolding.png");
  }

  &--equipment::before {
    background-image: url("../img/delivery-equipment.png");
  }

  &--electrical::before {
    background-image: url("../img/delivery-electronic.png");
  }

}

.delivery-type__heading {
  margin: 0;
  margin-bottom: 11px;
  color: $color-heading;
  font-size: 18px;
}

.delivery-type__description {
  margin: 0;
}


@include retina-bg {
  .delivery-type {

    &--concrete::before {
      background-image: url("../img/delivery-concrete@2x.png");
    }

    &--recycling::before {
      background-image: url("../img/delivery-recycling@2x.png");
    }

    &--formwork::before {
      background-image: url("../img/delivery-formwork@2x.png");
    }

    &--panels::before {
      background-image: url("../img/delivery-panels@2x.png");
    }

    &--fasades::before {
      background-image: url("../img/delivery-fasades@2x.png");
    }

    &--finishing::before {
      background-image: url("../img/delivery-finishing@2x.png");
    }

    &--scaffolding::before {
      background-image: url("../img/delivery-scaffolding@2x.png");
    }

    &--equipment::before {
      background-image: url("../img/delivery-equipment@2x.png");
    }

    &--electrical::before {
      background-image: url("../img/delivery-electronic@2x.png");
    }

  }
}