.opportunities {
  &::before {
    content: "";
    width: 48px;
    height: 48px;
    margin-bottom: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
  }

  &--subcontractor::before {
    background-image: url("../img/opportunities-subcontractor.png");
  }

  &--key-suppliers::before {
    background-image: url("../img/opportunities-suppliers.png");
  }

  &--compliance::before {
    background-image: url("../img/opportunities-compliance.png");
  }
}

.opportunities__heading {
  margin: 0;
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 18px;
}

.opportunities__text {
  margin: 0;
  opacity: 0.75;
}



@include retina-bg {
  .opportunities {
    &--subcontractor::before {
      background-image: url("../img/opportunities-subcontractor@2x.png");
    }

    &--key-suppliers::before {
      background-image: url("../img/opportunities-suppliers@2x.png");
    }

    &--compliance::before {
      background-image: url("../img/opportunities-compliance@2x.png");
    }
  }
}