.site-logo {
  margin-right: 10px;
}

.site-logo__img {
  display: block;
  width: 236px;
  height: 44px;
}


@include breakpoint-down (1200) {
  .site-logo {
    margin: 0;
    margin-bottom: 20px;
  }
}