.site-footer {
  padding-top: 75px;
}

.site-footer__top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 160px;
}

.site-footer__top-left {
  display: flex;
  flex-direction: column;
}

.site-footer__logo-img {
  display: block;
  width: 175px;
  height: 33px;
  margin-bottom: 22px;
}

.site-footer__address {
  margin-bottom: 10px;
  font-style: normal;
}

.site-footer__email {
  color: $color-text;
  text-decoration: none;

  &:hover {
    color: royalblue;
    text-decoration: underline;
  }
}

.site-footer__call {
  color: $color-text;
  text-decoration: none;
  margin-bottom: 20px;

  &:hover {
    color: royalblue;
    text-decoration: underline;
  }
}

.site-footer__social {
  width: 25px;
  height: 25px;
  background-image: url("../img/facebook-icon.svg");
  background-repeat: no-repeat;
  background-size: 24px 24px;
}

.site-footer__nav {
  display: flex;
  flex-wrap: wrap;
}

.site-footer__nav-list {
  @include reset-list;

  &:not(:last-child) {
    margin-right: 160px;
  }
}

.site-footer__nav-heading {
  margin-bottom: 22px;
  color: $color-heading;
}

.site-footer__nav-item {
  margin-bottom: 8px;
}

.site-footer__nav-link {
  color: $color-text;
  text-decoration: none;

  &:hover {
    color: royalblue;
    text-decoration: underline;
  }
}

.site-footer__bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
  padding-bottom: 33px;
  border-top: 1px solid #DADEDF;
}

.site-footer__bottom-text {
  margin: 0;
}


@include breakpoint-down (1000) {
  .site-footer__nav-list {
    &:not(:last-child) {
      margin-right: 100px;
    }
  }
}

@include breakpoint-down (900) {
  .site-footer__nav-list {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}

@include breakpoint-down (768) {
  .site-footer {
    padding-top: 30px;
  }

  .site-footer__top {
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
  }

  .site-footer__top-left {
    margin-bottom: 40px;
  }

  .site-footer__nav {
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    justify-content: space-between;
  }

  .site-footer__nav-list {
    margin-bottom: 30px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  .site-footer__bottom {
    flex-direction: column;
  }

  .site-footer__bottom-text {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}